.imagenheader{
    border-top: 2%;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    background-color: #132235;
    border: 3px solid  #6ddad3;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    
}
.imglogo{
     width: 8% ;
    
}
.marca{
    color: #6ddad3;
    justify-content: flex-start;
   
    
}

    
    
#txtcor{
    color: #6ddad3;
}