* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*FOOTER*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #132235;
    color: #6ddad3;
    padding: 1em;
}

footer p {
    font-size: 0.8em;
}

footer nav {
    padding: 1em 0;
}